* {
margin: 0;
padding: 0;
}
body {
font: 12px/20px Arial, Sans-Serif;
}

h1 {
margin: 20px 0 20px;
padding: 10px 0 10px;
font: 24px/20px Arial, Sans-Serif;
color: #555;
border-bottom: 3px double #eee;
}

#container {
width: 700px;
text-align: left;
}
.new {
margin-left: 20px;
float: left;
width: 340px;
}

.box {
margin: 0 auto;
width: 100px;
height: 100px;
background: #ccc;

}

div{
	
}
